
/*.banner-twitter {
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(6.5754em, -2.4749em) rotate(45deg);
}*/
.eficiencia{
    position: absolute;
    top: 5%;
    left: 75%;
    -webkit-transform:rotate(-5deg);
            transform:rotate(-5deg);
}
.boas-praticas{
    position: absolute;
    top: 10%;
    left:5%;
    -webkit-transform:rotate(5deg);
            transform:rotate(5deg);
}
.codigo-limpo{
    position: absolute;
    top:30%;
    left: 70%;
    -webkit-transform:rotate(-5deg);
            transform:rotate(-5deg);
}
.css3{
     position: absolute;
     top: 20%;
     left: 60%;
     -webkit-transform:rotate(5deg);
            transform:rotate(5deg);
}
.html5{
     position: absolute;
     top: 25%;
     left:30%;
     -webkit-transform:rotate(-5deg);
            transform:rotate(-5deg);
}
.javascript{
     position: absolute;
     top: 50%;
     left: 5%;
     -webkit-transform:rotate(-5deg);
            transform:rotate(-5deg);
}
.acessibilidade{
     position: absolute;
     top: 5%;
     left: 25%;
     -webkit-transform:rotate(5deg);
            transform:rotate(5deg);
}
.responsivo{
     position: absolute;
     top: 58%;
     left: 20%;
     -webkit-transform:rotate(-5deg);
            transform:rotate(-5deg);
}
.otimizacoes{
     position: absolute;
     top: 55%;
     left: 70%;
     -webkit-transform:rotate(5deg);
            transform:rotate(5deg);
}
.agilidade{
     position: absolute;
     top:30%;
     left: 13%;
     -webkit-transform:rotate(5deg);
            transform:rotate(5deg);
}
.design{
     position: absolute;
     top: 55%;
     left: 90%;
     -webkit-transform:rotate(-5deg);
            transform:rotate(-5deg);
}
.fein{
    position: absolute;
    top: 20%;
    left: 85%;
    -webkit-transform:rotate(5deg);
            transform:rotate(5deg);
}

.subtitulo-principal{
    font-size: 1.56rem;
}

.exemplo{
    font-size: 1.56rem;
    font-family: "Shadows Into Light";
}

.inicio-post{
    position: absolute;
    background-color: #FFF;
    color: #000;
    top: 3em;
    right: 8em;
    height: 8em;
}

.foto-home {
    height: 250px;
    border-radius:10%  50% / 50% 10%;
}
.saudacao p {
    font-size: 1.5em;
    padding: 2em;
    color: #99A;
    line-height: 1;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
    font-size: 1em;
}
.saudacao strong {
    color: #000;
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    transform: skew(-10deg) rotate(-5deg);
    display: inline-block;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    margin:2em auto;
    font-size: 1.25em;
    text-decoration: none;
}
.secao-inicio h2 {
    text-transform: uppercase;
    font-size: 2em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}
.trabalhos h2 {
    margin: 1em;
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
    margin: 1.5em;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    padding:2em;
    position: relative;
}
.blog li a {
    color: #FCF;
    line-height: 3em;
    padding: 1em;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
    border-top: 0.5em solid #851944;
}
footer a {
    color: #F99;
}

footer h2{
    font-size: 3em;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
header{
    position: relative;
}
